In [4]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))
from load_data import load_data_from_postgres, load_data_using_sqlalchemy
from prepare_data import clean_data

In [5]:
# Run the query
query = "SELECT * FROM xdr_data;"  # Replace with actual table name
df = load_data_using_sqlalchemy(query)

if df is not None:
    print("Successfully loaded the data")
    display(df.head())
else:
    print("Failed to load data.")

Successfully loaded the data

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [6]:
    # Clean the data
    df_cleaned = clean_data(df)

    # Display the cleaned data
    display(df_cleaned.head())

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,92261.223185,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,92261.223185,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,92261.223185,2.082015e+14,3.365762e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,92261.223185,2.082014e+14,3.365762e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,92261.223185,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

Task 3 on Experience Analytics

Task 3.1 - Aggregate Network Parameters and Device Information

In [12]:
import pandas as pd
import numpy as np


df_cleaned['TCP DL Retrans. Vol (Bytes)'].fillna(df_cleaned['TCP DL Retrans. Vol (Bytes)'].mean(), inplace=True)
df_cleaned['TCP UL Retrans. Vol (Bytes)'].fillna(df_cleaned['TCP UL Retrans. Vol (Bytes)'].mean(), inplace=True)
df_cleaned['Avg RTT DL (ms)'].fillna(df_cleaned['Avg RTT DL (ms)'].mean(), inplace=True)
df_cleaned['Avg RTT UL (ms)'].fillna(df_cleaned['Avg RTT UL (ms)'].mean(), inplace=True)
df_cleaned['Avg Bearer TP DL (kbps)'].fillna(df_cleaned['Avg Bearer TP DL (kbps)'].mean(), inplace=True)
df_cleaned['Avg Bearer TP UL (kbps)'].fillna(df_cleaned['Avg Bearer TP UL (kbps)'].mean(), inplace=True)
df_cleaned['Handset Type'].fillna(df_cleaned['Handset Type'].mode()[0], inplace=True)

# Aggregate per customer (MSISDN/Number)
customer_agg = df.groupby('MSISDN/Number').agg({
    'TCP DL Retrans. Vol (Bytes)': 'mean',
    'TCP UL Retrans. Vol (Bytes)': 'mean',
    'Avg RTT DL (ms)': 'mean',
    'Avg RTT UL (ms)': 'mean',
    'Avg Bearer TP DL (kbps)': 'mean',
    'Avg Bearer TP UL (kbps)': 'mean',
    'Handset Type': 'first'  
}).reset_index()


customer_agg['Avg TCP Retransmission'] = (customer_agg['TCP DL Retrans. Vol (Bytes)'] + customer_agg['TCP UL Retrans. Vol (Bytes)']) / 2
customer_agg['Avg RTT'] = (customer_agg['Avg RTT DL (ms)'] + customer_agg['Avg RTT UL (ms)']) / 2
customer_agg['Avg Throughput'] = (customer_agg['Avg Bearer TP DL (kbps)'] + customer_agg['Avg Bearer TP UL (kbps)']) / 2


display(customer_agg[['MSISDN/Number', 'Avg TCP Retransmission', 'Avg RTT', 'Handset Type', 'Avg Throughput']])

C:\Users\USER\AppData\Local\Temp\ipykernel_9208\2677127809.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['TCP UL Retrans. Vol (Bytes)'].fillna(df_cleaned['TCP UL Retrans. Vol (Bytes)'].mean(), inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_9208\2677127809.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Avg RTT DL (ms)'].fillna(df_cleaned['Avg RTT DL (ms)'].mean(), inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_9208\2677127809.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Avg RTT UL (ms)'].fillna(df_cleaned['Avg RTT UL (ms)'].mean(), inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_9208\2677127809.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Avg Bearer TP DL (kbps)'].fillna(df_cleaned['Avg Bearer TP DL (kbps)'].mean(), inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_9208\2677127809.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Avg Bearer TP UL (kbps)'].fillna(df_cleaned['Avg Bearer TP UL (kbps)'].mean(), inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_9208\2677127809.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Handset Type'].fillna(df_cleaned['Handset Type'].mode()[0], inplace=True)

,MSISDN/Number,Avg TCP Retransmission,Avg RTT,Handset Type,Avg Throughput
0,3.360171e+10,1.078479e+07,57.500000,Apple iPhone Se (A1723),35.00000
1,3.360171e+10,3.096170e+05,76.000000,Apple iPhone 6 (A1586),4896.00000
2,3.360171e+10,9.211635e+06,61.614647,Samsung Galaxy S8 Plus (Sm-G955F),2205.38873
3,3.360171e+10,1.078479e+07,17.000000,Apple iPhone 7 Plus (A1784),58.50000
4,3.360172e+10,1.078479e+07,63.729294,Samsung Galaxy S8 (Sm-G950F),38.00000
...,...,...,...,...,...
90032,3.370000e+10,1.078479e+07,19.500000,Samsung Galaxy J5 (Sm-J530),10.50000
90033,3.370000e+10,1.078479e+07,63.729294,Samsung Galaxy J5 (Sm-J530),7.50000
90034,3.370000e+10,4.477580e+05,112.500000,Apple iPhone 6 (A1586),2237.50000
90035,3.370000e+10,3.832218e+05,14.500000,Huawei P9 Lite,4096.00000
90036,3.370000e+10,1.078479e+07,63.729294,Samsung Galaxy J7,7.50000

Task 3.2 - Computing Top, Bottom, and Most Frequent Values

In [13]:

def compute_stats(column):
    top_values = column.nlargest(10)
    bottom_values = column.nsmallest(10)
    most_frequent_values = column.value_counts().nlargest(10)
    return top_values, bottom_values, most_frequent_values

# TCP Values
tcp_dl_top, tcp_dl_bottom, tcp_dl_frequent = compute_stats(df['TCP DL Retrans. Vol (Bytes)'])
tcp_ul_top, tcp_ul_bottom, tcp_ul_frequent = compute_stats(df['TCP UL Retrans. Vol (Bytes)'])

# RTT Values
rtt_dl_top, rtt_dl_bottom, rtt_dl_frequent = compute_stats(df['Avg RTT DL (ms)'])
rtt_ul_top, rtt_ul_bottom, rtt_ul_frequent = compute_stats(df['Avg RTT UL (ms)'])

# Throughput Values
tp_dl_top, tp_dl_bottom, tp_dl_frequent = compute_stats(df['Avg Bearer TP DL (kbps)'])
tp_ul_top, tp_ul_bottom, tp_ul_frequent = compute_stats(df['Avg Bearer TP UL (kbps)'])

# Display results for TCP
print("Top 10 TCP DL values:", tcp_dl_top)
print("Bottom 10 TCP DL values:", tcp_dl_bottom)
print("Most frequent TCP DL values:", tcp_dl_frequent)

Top 10 TCP DL values: 6421      50021024.0
138739    49991791.0
66754     49986834.0
136231    49986038.0
76025     49969605.0
77840     49921268.0
143262    49833677.0
116528    49779123.0
9726      49777538.0
139884    49663906.0
Name: TCP DL Retrans. Vol (Bytes), dtype: float64
Bottom 10 TCP DL values: 59717     2.0
125094    2.0
2850      4.0
39610     4.0
52488     4.0
60376     4.0
60426     4.0
75093     4.0
100314    4.0
143429    4.0
Name: TCP DL Retrans. Vol (Bytes), dtype: float64
Most frequent TCP DL values: TCP DL Retrans. Vol (Bytes)
2.080991e+07    88146
1.382504e+07     2525
1.330000e+03      433
2.660000e+03      219
3.800000e+01      200
9.200000e+01      192
1.318000e+03      156
5.430000e+02      133
3.990000e+03      114
7.600000e+01      108
Name: count, dtype: int64