In [4]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))
from load_data import load_data_from_postgres, load_data_using_sqlalchemy
from prepare_data import clean_data

In [5]:
# Run the query
query = "SELECT * FROM xdr_data;"  # Replace with actual table name
df = load_data_using_sqlalchemy(query)

if df is not None:
    print("Successfully loaded the data")
    display(df.head())
else:
    print("Failed to load data.")

Successfully loaded the data

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [6]:
    # Clean the data
    df_cleaned = clean_data(df)

    # Display the cleaned data
    display(df_cleaned.head())

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,92261.223185,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,92261.223185,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,92261.223185,2.082015e+14,3.365762e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,92261.223185,2.082014e+14,3.365762e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,92261.223185,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

Task 2 - User Engagement Analysis

Task 2.1 - Part 1: Aggregate Metrics per Customer (MSISDN)

In [8]:
import pandas as pd
# Aggregate metrics per customer ID (MSISDN)
def aggregate_user_engagement(df):
    
    session_frequency = df.groupby('MSISDN/Number')['MSISDN/Number'].count().rename('session_frequency')

  
    session_duration = df.groupby('MSISDN/Number')['Dur. (ms)'].sum().rename('total_duration')

   
    total_traffic = df.groupby('MSISDN/Number')[['Total UL (Bytes)', 'Total DL (Bytes)']].sum()
    total_traffic['total_traffic'] = total_traffic['Total UL (Bytes)'] + total_traffic['Total DL (Bytes)']

  
    engagement_metrics = pd.concat([session_frequency, session_duration, total_traffic['total_traffic']], axis=1)
    
    return engagement_metrics

# Get the engagement metrics
engagement_metrics = aggregate_user_engagement(df_cleaned)


display(engagement_metrics.head())

# Top 10 users per engagement metric
top_10_session_frequency = engagement_metrics.nlargest(10, 'session_frequency')
top_10_session_duration = engagement_metrics.nlargest(10, 'total_duration')
top_10_total_traffic = engagement_metrics.nlargest(10, 'total_traffic')


print("Top 10 users by session frequency:")
display(top_10_session_frequency)

print("\nTop 10 users by session duration:")
display(top_10_session_duration)

print("\nTop 10 users by total traffic:")
display(top_10_total_traffic)

               session_frequency  total_duration  total_traffic
MSISDN/Number
3.360171e+10                   1         38503.0   3.396170e+08
3.360171e+10                   1         52478.0   9.006109e+08
3.360171e+10                   2        120298.0   1.587337e+09
3.360171e+10                   1        176022.0   1.783307e+08
3.360172e+10                   1        127918.0   3.346914e+08

Top 10 users by session frequency:

               session_frequency  total_duration  total_traffic
MSISDN/Number
3.365762e+10               24742    2.281924e+09   1.220769e+13
3.362632e+10                  18    1.867490e+06   7.971167e+09
3.361489e+10                  17    1.760468e+06   8.846226e+09
3.362578e+10                  17    1.692848e+06   8.499621e+09
3.365973e+10                  16    1.964100e+06   7.705863e+09
3.367588e+10                  15    1.803753e+06   7.891111e+09
3.366716e+10                  13    1.280050e+06   5.618394e+09
3.360313e+10                  12    1.174220e+06   4.976195e+09
3.360452e+10                  12    1.251655e+06   5.487855e+09
3.362708e+10                  12    1.253962e+06   5.754731e+09

Top 10 users by session duration:

               session_frequency  total_duration  total_traffic
MSISDN/Number
3.365762e+10               24742    2.281924e+09   1.220769e+13
3.365973e+10                  16    1.964100e+06   7.705863e+09
3.362632e+10                  18    1.867490e+06   7.971167e+09
3.367588e+10                  15    1.803753e+06   7.891111e+09
3.365936e+10                  11    1.771443e+06   4.658437e+09
3.361489e+10                  17    1.760468e+06   8.846226e+09
3.362578e+10                  17    1.692848e+06   8.499621e+09
3.366471e+10                  11    1.533640e+06   6.903963e+09
3.360658e+10                   9    1.322251e+06   4.731467e+09
3.366716e+10                  13    1.280050e+06   5.618394e+09

Top 10 users by total traffic:

               session_frequency  total_duration  total_traffic
MSISDN/Number
3.365762e+10               24742    2.281924e+09   1.220769e+13
3.361489e+10                  17    1.760468e+06   8.846226e+09
3.362578e+10                  17    1.692848e+06   8.499621e+09
3.362632e+10                  18    1.867490e+06   7.971167e+09
3.367588e+10                  15    1.803753e+06   7.891111e+09
3.365973e+10                  16    1.964100e+06   7.705863e+09
3.366646e+10                  11    1.221463e+06   7.308501e+09
3.366471e+10                  11    1.533640e+06   6.903963e+09
3.369879e+10                  11    1.110925e+06   6.540899e+09
3.365836e+10                  10    1.191020e+06   6.452398e+09